header {
    .header_top {
        background-color: $primaryColor;
        .container {
            color: #fff;
            padding: 5px;
            display: flex;
            justify-content: right;
            .header_top_text {
                span {
                    padding-right: 25px;
                }

                a {
                    text-decoration: none;
                    color: #fff;
                    i {
                        font-size: 20px;
                        margin-left: 4px;
                        
                    }
                }
            }
        }
    }
    nav {
        .container {
            display: flex;
            justify-content: space-around;
            align-items: center;
            .header_left {
                margin-right: 70px;
            }
            .header_right{
                ul {
                    list-style: none;
                    display: flex;
                    #search {
                        padding-left: 60px;
                        border: transparent;
                        border-bottom: 3px solid $primaryColor;
                        display: inline-block;
                        text-align: right;
                        color: black;
                        margin-top: 52px;
                    ::placeholder {
                            color: black;
                            // opacity: 1;
                        }
                    }
                    a {
                        text-decoration: none;
                        display: inline-block;
                        padding: 50px 15px;
                        color: #000;
                        text-align: center;
                        &.active {
                            border-bottom: 5px solid $primaryColor;
                        }
                        &:hover {
                            border-bottom: 5px solid $primaryColor;
                        }
                    }
                }
            }
        }
    }
    .header_hero {
        background-image: url("../images/jumbotron.jpg");
        height: 350px;
        background-size: cover;
        background-repeat: no-repeat;
    }
}